*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body {
    box-sizing: border-box;
    background: #1f1f27;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.header-container > h1{
    width: 100%;
    height: 20%;
    color: white;
}
main {
    box-sizing: border-box;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.req-wrapper{
    border-style: solid;
    border-width: .2rem;
    border-color: white;
    border-radius: 1rem;
    padding: 3rem;
    padding-left: 25%;
    border-right: none;
    border-top: none;
    margin-bottom: 2rem;
    box-shadow: -20px 20px 10px black;
}
.api{
    text-shadow: -15px 15px 10px black;
    color: white;
}
.main-title{
    color: white;
    padding-left: 20%;
    text-shadow: -15px 15px 10px black;
}
.section-title{
    color:white;
    padding-left: 20%;
    text-shadow: -15px 15px 10px black;
    margin-bottom: 3rem;
}
.req-res{
    color: white;
}
.end-title{
    padding-top: 0;
    margin-bottom: 3.5rem;
    margin-top: 0;
    color: rgba(0, 255, 255, 0.934);
}
.comment{
    color:grey;
}
.response{
    box-sizing: border-box;
    width: 80%;
    padding: 10%;
    height: 100%;
   
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 0;
    margin-top: 0;
}
.method{
    color: rgba(0, 255, 255, 0.934);
}
.brackets{
    margin-left: 2rem;
    color: aqua;
}
.prop{
    margin-left: 4rem;
    color: rgb(235, 24, 80);
}
.value{
    color: #ffff00;
}

@media only screen and (max-width: 600px) {
    .req-wrapper{
        width: 95vw;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    main{
        width: 95vw;
    }
    .response{
       width: 100%;
       padding: 2vw;
    }
}